.main-container {
  /*height: 355;
  width: 300;*/
}
TextField, DropDown {
  margin-bottom: 10;
}
.submit-button {
  margin-top: 15;
}
.header, .footer{
  font-weight: bold;
  display: block;
  color: white;
  background-color: #2f8ac9;
  padding-top: 25;
  width: 100%;
  
  font-size: 20px;
  text-align: center;
}
.footer{
  padding: 20;
}
Image {
  width: 30%;
  /*top: 100;*/
}